$myPrimary: #f5df4d;
$mySecondary: rgb(147, 149, 151);
$myLight: rgb(172, 163, 202);
$tunjiLight : #00FFFF;
$tunjiDark: #B34100;


.container {
    height: 100vh;
    background: $primary;
}
.container-fluid {
    height: 100vh;
    background: $primary;
}
.test {
    width: 80%;
    height: 300px;
}